#vscode files
/.vscode

# Python cache
/__pycache__
/.pytest_cache
/test/__pycache__
/test/static/*

# env file
.env

# Docker file
Dockerfile

# cloud services
/.aws/
.space
Spacefile
.spaceignore

# test file
.coverage
/coverage_html
.test.env
test_report
test/.pytest_cache