#vscode files
/.vscode

# Python cache
/__pycache__
/.pytest_cache
/test/__pycache__

# env file
.env

# Docker file
Dockerfile

# cloud services
/.aws/
.space
Spacefile

# test file
.coverage
/coverage_html
.test.env
/test_teport